/* Pagina Principal */

/* header */
.header_principal{
    background-image: url("./img/domenico-loia-hGV2TfOh0ns-unsplash.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.contenedor_principal{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* end header */

/* cards */
.cards {
    display: flex;
    position: relative;
    justify-content: space-between;
    top: -75px;
    justify-content: space-around;
    margin: 0 auto;
    width: 85%;
    height: 30%;
    
}

.card {
    width: 18rem;
    height: 24rem;
    background-color: rgb(172, 172, 196);
}

.circle{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
/* end crads */

/* Nosotros */
.nosotros{
    background-image: linear-gradient(to left, #fff, #ffffff6e), url('./img/fondo3.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.section_cards{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjeta1{
    width: 35rem;
    height: 12rem;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
}

.tarjeta1 h5{
    font-size: 18px;
    color: #e8a8ba;
}

.tarjeta2{
    width: 16rem;
    height: 10rem;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.tarjeta2 i{
    color: #e8a8ba;
    font-size: 25px;
}

.tarjeta2 h5{
    font-size: 15px;
}

.tarjeta3{
    width: 16rem;
    height: 10rem;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.tarjeta3 i{
    font-size: 25px;
    color: #e8a8ba;
}

.tarjeta3 h5{
    font-size: 15px;
}
/* end nosotros */

/* Valores */
.valores{
    margin: 0 auto;
    width: 85%;
    height: 60vh;
}

.valores h5{
    color: #e8a8ba;
}

.valores li{
    font-style: italic;
}
/* end Valores */

/* Info Productos */
.productos{
    background-image:linear-gradient(to top, #00000086, #43434370), url('./img/lennart-schulz-XQdlNB-_WyY-unsplash.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.info_productos{
    height: 100vh;
}

.square{
    width: 45rem;
    height: 20rem;
    border: solid 1px #fff;
}

.info_productos h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.imags_row {
    background-size: cover;
    height: 250px;
    width: 100%;
}

/* final info productos */

/* description work */
.descrption_work {
    background-image: url("./img/photo-1495465798138-718f86d1a4bc.webp");
    background-size: cover;
    height: 120vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.description_conteiner {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
}

.description_boxes {
    background-color: rgb(240, 243, 233);
    height: 250px;
    width: 250px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
.title_description {
    height: 100px;
    width: 80%;
    background-color:  rgb(240, 243, 233);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* end description work */

/* contact */
.contacto{
    background-color: #000;
    height: 100vh;
}

.formulario_contacto label{
    color: #fff;
}

.formulario_contacto input{
    width: 40rem;
    background: transparent !important;
    color: #fff !important;
}

.formulario_contacto textarea{
    background: transparent !important;
    color: #fff !important;
}

.formulario_contacto button{
    background: #e8a8ba !important;
    border: #fff solid 1px;
}
/* end contact */